[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
open3d = "== 0.10.0.0"

[dev-packages]
# Code formatter. Needs explicit version: Pipenv ignores 'beta' releases.
black = "== 18.9b0"
# Python type checker
mypy = "*"
ipython = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"

[scripts]
format = "black project"
format-check = "black --check --diff project"
typecheck = "mypy project/"